
body {
    background-color: rgba(250, 128, 114, 0.705);
}

#screen{
    background-color: black;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: column;
    font-family: Copperplate, Papyrus, fantasy;                
    font-size: 40px;
}

.rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
